:root {
  --color-primary: #7f1d1d;
  --color-primary-light: #991b1b;
  --color-background: #f8fafc;
  --color-surface: #ffffff;
  --color-text: #334155;
  --color-muted: #64748b;

  --sidebar-width: 260px;
  --header-height: 64px;
}
